## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"],1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [6]:
application_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

INPUTS - APPLICATION_TYPE, AFFILIATION, CLASSIFICATION, USE_CASE, ORGANIZATION, STATUS, INCOME_AMT, SPECIAL_CONSIDERATIONS, ASK_AMT

OUTPUTS - IS_SUCCESSFUL - 0 if not successful, 1 if successful

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

APPLICATION_TYPE and CLASSIFICATION are the ones to focus on as they have over 10 values

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

suggested cutoff will be 500, anything less will be binned into 'Other'

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

Suggested cutoff will be everywhere where the classification counts is greater than 1

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df.head(3)

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0

[3 rows x 44 columns]

In [14]:
# Split our preprocessed data into our features and target arrays
X = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_with_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
layer1Nodes = 80
layer2Nodes = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units = layer1Nodes, input_dim=number_input_features, activation = 'relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units = layer2Nodes, input_dim=layer1Nodes, activation = 'relu')
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units = 1, input_dim= layer2Nodes, activation = 'relu')
)

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 1.3104 - accuracy: 0.6739
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.8753 - accuracy: 0.7116
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7987 - accuracy: 0.7129
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.8759 - accuracy: 0.7135
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7916 - accuracy: 0.7180
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7888 - accuracy: 0.7158
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7604 - accuracy: 0.7093
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7530 - accuracy: 0.7115
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6618 - accuracy: 0.7264
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6535 - accuracy: 0.7250
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6484 - accuracy: 0.7280
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6313 - accuracy: 0.7219
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5999 - accuracy: 0.7254
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5884 - accuracy: 0.7277
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5939 - accuracy: 0.7299
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6443 - accuracy: 0.7203
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6674 - accuracy: 0.7176
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6261 - accuracy: 0.7252
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5883 - accuracy: 0.7236
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5720 - accuracy: 0.7298
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5760 - accuracy: 0.7313
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5749 - accuracy: 0.7297
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6199 - accuracy: 0.7289
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6012 - accuracy: 0.7283
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5789 - accuracy: 0.7277
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5763 - accuracy: 0.7292
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5675 - accuracy: 0.7308
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5905 - accuracy: 0.7270
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5933 - accuracy: 0.7294
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5921 - accuracy: 0.7304
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5887 - accuracy: 0.7317
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5959 - accuracy: 0.7220
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5879 - accuracy: 0.7330
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5896 - accuracy: 0.7311
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5803 - accuracy: 0.7302
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5826 - accuracy: 0.7321
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5762 - accuracy: 0.7324
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5777 - accuracy: 0.7332
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5787 - accuracy: 0.7325
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5781 - accuracy: 0.7290
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5703 - accuracy: 0.7322
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5723 - accuracy: 0.7322
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5952 - accuracy: 0.7324
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5790 - accuracy: 0.7343
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5760 - accuracy: 0.7346
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5855 - accuracy: 0.7326
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5684 - accuracy: 0.7322
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5740 - accuracy: 0.7323
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5706 - accuracy: 0.7322
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5709 - accuracy: 0.7323
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5729 - accuracy: 0.7337
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5712 - accuracy: 0.7327
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5753 - accuracy: 0.7339
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5680 - accuracy: 0.7344
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5710 - accuracy: 0.7337
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5673 - accuracy: 0.7339
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5656 - accuracy: 0.7341
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5654 - accuracy: 0.7336
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5689 - accuracy: 0.7345
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5647 - accuracy: 0.7347
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5652 - accuracy: 0.7362
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5634 - accuracy: 0.7335
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5649 - accuracy: 0.7343
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5710 - accuracy: 0.7341
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5739 - accuracy: 0.7254
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5735 - accuracy: 0.7304
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5780 - accuracy: 0.7301
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5673 - accuracy: 0.7324
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5650 - accuracy: 0.7336
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5715 - accuracy: 0.7346
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5739 - accuracy: 0.7343
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5736 - accuracy: 0.7352
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5740 - accuracy: 0.7357
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5723 - accuracy: 0.7349
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5739 - accuracy: 0.7355
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5746 - accuracy: 0.7345
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5830 - accuracy: 0.7346
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5766 - accuracy: 0.7341
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5739 - accuracy: 0.7341
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5740 - accuracy: 0.7361
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5730 - accuracy: 0.7347
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5665 - accuracy: 0.7353
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5702 - accuracy: 0.7364
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5693 - accuracy: 0.7343
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5659 - accuracy: 0.7356
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5704 - accuracy: 0.7365
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5781 - accuracy: 0.7311
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5661 - accuracy: 0.7338
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5658 - accuracy: 0.7348
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5695 - accuracy: 0.7341
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5657 - accuracy: 0.7361
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5731 - accuracy: 0.7373
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5678 - accuracy: 0.7365
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5654 - accuracy: 0.7361
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5666 - accuracy: 0.7354
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5684 - accuracy: 0.7357
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5758 - accuracy: 0.7358
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5661 - accuracy: 0.7353
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5589 - accuracy: 0.7362
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5605 - accuracy: 0.7370

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6084 - accuracy: 0.7321 - 479ms/epoch - 2ms/step
Loss: 0.6083922982215881, Accuracy: 0.7321282625198364

In [24]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")